
.rsl-hdngh4 {
    font-family: 'Circular-Medium';
    color: #333e63;
    font-size: 20px;
    margin-bottom: 20px;
}
.brdrrdscstm.brdrrdscstm {
    border-radius: 10px !important;
}
.rslt-cstmpdb.rslt-cstmpdb {
    padding-bottom: 18px;
}
.rsl-cspdng {
    padding: 1.2rem 8rem 0 8rem !important;
}
.rslt-dvv {
    box-shadow: 0 2px 8px 0 rgb(18 52 102 / 10%);
    background-color: #fff;
    padding: 30px;
    border-radius: 3px;
}
.rsl-dv1 {
    position: absolute;
    left: 25px;
    height: 100px;
    top: 32px;
    width: 100px;
    text-align: center;
    font-size: 45px;
    font-family: 'Circular-Medium';
    color: #333e63;
}
.rsl-dv1spn {
    display: block;
    font-family: 'Circular-Book';
    font-size: 18px;
    margin-top: -18px;
}
.rsl-dv2 {
    height: 150px !important;
    width: 150px !important;
}
.rsl-dv3 {
    margin: 30px 0 0 0;
}
.rsl-dv3-h3 {
    color: #333e63;
    font-size: 28px;
    font-family: 'Circular-Medium';
}
.rsl-dv4 {
    color: #333e63;
    font-size: 14px;
    font-family: 'Circular-Book';
}
#rslttblcs {
    box-shadow: none;
}
#rslttblcs thead tr th:nth-child(1) {
    width: 50%;
    padding-left: 0;
}
#rslttblcs thead tr th {
    padding: 0 15px 10px;
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
}
#rslttblcs tbody tr td:nth-child(1) {
    width: 50%;
    padding-left: 0;
}
#rslttblcs tbody tr td {
    padding: 15px;
    font-family: 'Circular-Medium';
    font-size: 14px;
}
.brdr-btm1 {
    border-bottom: 1px solid #eee
}
.rsltgrnclr {
    color: #2fc991;
}
.rsltredclr {
    color: #eb1337;
}
.rsltlytbluclr {
    color: #9ea6c1;
}
.rsl-cstmmbslct {
    margin-bottom: 5%;
}
.rsltblthdthcs {
    white-space: nowrap;
    left: 41px;
    top: 147px;
    cursor: default;
    text-align: center;
    padding-left: 12px !important;
    transform: rotate(270deg);
    transform-origin: 34% 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rsltcstmtbll2 {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    height: 380px;
    width: 970px;
}
.rsltcstmtbll2 tbody {
    height: inherit;
    overflow: hidden;
}
.rslt-tbldv1 {
    display: flex;
}
.rslt-tbldv2 {
    width: 80%;
}
.rslt-tbldv2-2 {
    margin-top: 88px;
    padding-top: 14px;
    padding-bottom: 8px;
    width: 100%;
}
.rslt-tbldv2-3:nth-child(1) {
    border-top: 1px solid rgb(221, 221, 221);
}
.rslt-tbldv2-3 {
    padding: 16px;
    height: 75px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}
.rslt-tbldv2-4 {
    font-weight: 100;
    font-family: 'Circular-Medium';
    text-transform: none;
    letter-spacing: normal;
    color: #333e63;
}
table.rslt-tbldv3tbl {
    border-collapse: collapse;
    width: 400px;
    height: 530px;
    box-shadow: none;
    border: none;
    overflow-x: auto;
    max-height: 43em;
    overflow-y: hidden;
    display: block;
  }
    
.rslt-tbldv3tbl thead, tbody {
    display: block;
  }
  
table#rslttblcs2.rslt-tbldv3tbl tbody {
    overflow: scroll;
    max-height: 44em;
    max-width: 400px;
    height: 41.6em;
}
  
table.rslt-tbldv3tbl thead tr {
    background-color: #fff;
}
table.rslt-tbldv3tbl tbody tr:nth-child(1) td {
    padding-bottom: 7px;
    padding-top: 0;
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
}
table.rslt-tbldv3tbl tbody tr td {
    width: 80px;
    min-width: 80px;
    padding: 26px 15px;
    height: 74px;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    text-align: left;
}
table.rslt-tbldv3tbl .rslt-tbldv3tblthddv {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    min-height: 133px;
}
table.rslt-tbldv3tbl tbody tr {
    border-bottom: 1px solid #ddd;
}
.rslttbl3 table {
    table-layout: fixed; 
    width: 100%;
    box-shadow: none;
    border: none;
    *margin-left: -100px; /*ie7*/
  }
  .rslttbl3 tr {
    height: 66px;
  }
  .rslttbl3 td, .rslttbl3 th {
    border-top: 1px solid rgb(221, 221, 221);
    padding: 10px;
    width: 70px;
  }
  .rslttbl3 .nobrdr {   
    border: none !important;
  }
  .rslttbl3 .fix {
    position: absolute;
    margin-left: -688px;
    width: 71%;
    min-height: 66px;
    border-bottom-color: rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
  }
  .rslttbl3 .outer {
    position: relative;
  }
  .rslttbl3 .inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: 29%;
    margin-left: 688px;
  }
  .rslttbl3 tr td:last-child {
    border-right: 1px solid rgb(221, 221, 221);
  }
  .rslttbl3 tr:last-child, .rslttbl3 tr:last-child th.fix {
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .rslttbl3 .rslt-tbldv3tblthddv {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    min-height: 86px;
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
  }
  .rsltblslmbcs {
    margin-bottom: 2.2rem !important;
  }
  .rslttbldv4 {
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
  }
  .rslt-cspltddt {
    padding-left: 23px !important;
  }
  .rslt-tbltdclr01 {
    background-color: #eb1337;
    color: #fff;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr02 {
    background-color: #fdecef;
    color: #eb1337;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr03 {
    background-color: #fff;
    color: #9ea6c1;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr04 {
    background-color: #effbf6;
    color: #2fc991;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr05 {
    background-color: #2fc991;
    color: #fff;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbl-dvv1 {
    font-size: 14px;
    font-family: 'Circular-Medium';
  }
  .rslttbl3cstmfx {
    padding-left: 15px !important;
    padding-top: 22px !important;
  }
  .rslttblslctt {
    font-weight: 100;
    font-family: 'Circular-Book';
  }
  .rslttbl3cstmfx2 {
    padding-left: 15px !important;
  }