.wd-15px {
	width: 15px;
}
.tblcstslctbtn {
    font-size: 12px;
    line-height: 1.14;
    text-transform: none;
    font-weight: 500;
    border: none;
    height: 29px;
    outline: 0;
    letter-spacing: normal;
    background-color: #e7eaef !important;
    color: #333e63 !important;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.tblcstslctbtn:hover {
	opacity: 0.7;
}

.tblcstslctbtnsrtng {
    border: none;
    background: transparent !important;
    color: #333e63;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid transparent;
}

.tblcstslctbtnsrtng:hover {
    border-color: #e7eaef;
    opacity: 0.7;
}

.distddv {
    color: #bbbbbb;
}

.tbl-drpbtnndw {
    background: transparent !important;
    color: inherit;
    border: none !important;
    box-shadow: none !important;
}

.tbl-drpbtnndw:hover, .tbl-drpbtnndw:focus {
    color: #333e63 !important;
}

.tblcstslctbtnsrtng:hover, .tblcstslctbtnsrtng:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: #333e63 !important;
    opacity: 0.7 !important;
    border-color: #e7eaef !important;
}

.tblcstslctbtnsrtng.show>.btn-primary.dropdown-toggle {
    border-color: #e7eaef !important;
}

.tblcstslctbtn:hover, .tblcstslctbtn:focus {
    opacity: 0.7;
    background-color: #e7eaef !important;
    box-shadow: none !important;
    outline: none !important;
    color: #333e63 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.tbl-dropdown-item {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.tblcstslctbtn[aria-expanded="true"]  .tblcstslctbtn-i {
    transform: rotate(180deg);
}

#stftabl .table>tbody>tr:first-child>td {
    border-top: 0 !important;
    padding-top: 20px !important;
}

#stftabl .table>tbody>tr {
    cursor: pointer;
}

#stftabl .table>tbody>tr:hover {
    background-color: #e7eaef2e;
}

.cstmlmodal2 .modal-dialog {
    max-width: 430px;
    margin: 1.75rem auto;
}

.infomdvmdl1-img {
    height: 90px;
    margin-bottom: 4%;
}

.infomdvmdl2 {
    margin: 15px 0 5px;
    font-weight: 600;
}

.infomdvmdl3 {
    margin: 0 0 6%;
    color: rgb(18 62 108 / 49%);
}

.infomdvmdl4 {
    padding: 0 25px;
}

.infomdvmdl4 p {
    font-size: 14px;
    margin: 0;
}

.adtchrbtn {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 0;
    margin-right: 15px;
    box-shadow: none !important;
}

.adtchrbtn svg path {
    fill: #9CA2B4;
}

.adtchrbtn:hover svg path {
    fill: #333e63 !important;
    opacity: 1 !important;
}

.crsr-dis {
    cursor: not-allowed;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: inherit;
}

.tblusricnimg {
    border-radius: 50%;
    vertical-align: bottom;
    height: 25px;
    margin-right: 15px;
 }

.brdr-tp.brdr-tp {
    border-top: 1px solid #eeeff0 !important;
 }

 .dis.dis.dis.dis {
    pointer-events: none;
    background-color: transparent !important;
    border: 1px solid #e7eaef;
    color: #e9eaec !important;
 }

 .cstmmdlinfodv {
    border: none !important;
    display: block;
 }

 .cstmmdlinfodv .btn-close {
    position: absolute;
    right: 0;
    z-index: 100;
 }

 .cstmmdlinfodv2 {
    height: 300px;
    overflow-y: auto;
    margin-top: 20px;
 }
 
 .cstmmdlinfodv2 .infomdvmdl1-img {
    height: 40px !important;
    margin-bottom: 0 !important;
 }

 .cstmmdlinfodv2.modal-body p {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
 }

 .infomdvmdl2dvdr {
    margin: 0 20px;
 }

 .mr-7px {
    margin-right: 7px;
 }

 .mt-10px {
    margin-top: 10px;
 }

 .mt-10p {
    margin-top: 10%;
 }

 .clsrpt-p {
    margin-top: 30px;
    font-size: 16px;
    color: #333e63;
    font-weight: 500;
 }

 .infomdvmdl3-h3 {
    font-size: 16px;
    font-weight: 700;
    color: #333e63;
 }

.infomdvmdl3-txtara {
    margin-top: 5px;
    width: 100%;
    border-radius: 3px;
    color: #333e63;
    border: none;
    background-color: #f3f6fa;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 15px;
    cursor: auto;
    resize: none;    
    overflow: hidden;
 }

 .bluclr {
    color: #333e63 !important;
 }

 .bgclrblu {
    background-color: #f9fafb !important;
 }

 #survytbl #accordion {
    border: 1px solid rgba(228,231,235,0.62);
}

#survytbl #accordion .accordion-item:last-child .panel {
    margin-bottom: 0 !important;
}

button.drpdwnbtn {
    color: #bcc4ce;
}

button.drpdwnbtn:hover {
    color: #333e63 !important;
}

.crsr-dsble {
    cursor: no-drop !important;
}

.pntrevnt-n {
    pointer-events: none !important;
}

button.drpdwnbtn.dsble {
    pointer-events: none;
}
 
.srvycstmbxhdrclrgrnbg.srvycstmbxhdrclrgrnbg {
    color: #5ED4EF;
    background-color: rgba(94,212,239,0.15);
 }

 #survytbl .table > tbody > tr:first-child > td {
    border-top: 0 !important;
 }

 #survytbl .table > thead > tr > th {
    font-weight: 500;
 }

 #survytbl .table-responsive {
    height: 318px;
    overflow-y: auto;
 }

 #survytbl .ahover.ahover {
    color: #333e63bd;
    font-size: 14px;
    cursor: auto;
}

#survytbl .ahover.ahover:hover {
    opacity: 1;
    /* color: #333e63; */
    color: #333e63bd !important;
    text-decoration: none !important;
}

#survytbl .closd {
    color: #bcc4ce !important;
}

#survytbl .primary.primary {
    color: rgba(255, 255, 255,1);
    background-color: #54d4f2;
}

#survytbl .progress {
    background-color: rgb(241 242 245);
}

#survytbl .table > tbody > tr> td span {
    color : #333e63bd;
}

#survytbl .success.success {
    color: #3ccc98;
    background-color: transparent;
    font-weight: 500;
 }

 .wd-235px {
    width: 235px !important;
 }

 .upcmng {
    color: #ffb319 !important;
 }

.srvycstmbxhdrclrgrnbg.srvycstmbxhdrclrgrnbg:hover {
    color: #5ED4EF;
    background-color: rgb(94 212 239 / 23%);
}

#survytbl .table>tbody>tr:hover {
    background-color: #e7eaef2e;
}

#survytbl .css-1pahdxg-control.css-1pahdxg-control, #survytbl .css-1s2u09g-control.css-1s2u09g-control, #survytbl .css-cj7im2-control.css-cj7im2-control, #survytbl .css-1ck7blj-control.css-1ck7blj-control {
    border-color: rgb(214, 222, 233) !important;
    outline: none !important;
    border-radius: 1px;
    box-shadow: none !important;
}

.css-1pahdxg-control:hover, .css-cj7im2-control:hover, .css-1ck7blj-control:hover {
    border-color: rgb(214, 222, 233) !important;
}

#survytbl .dshbrd-dvv1.dshbrd-dvv1 {
    background: #fff;
    padding: 10px;
    margin-top: 0;
    box-shadow: none;
    border: 1px solid rgb(221, 221, 221);
}

.cstm-mrgn {
    margin: 8px 15px;
}

#survytbl .dshbrd-dvv1-ul-li-a.dshbrd-dvv1-ul-li-a {
    border-bottom: 3px solid transparent;
    padding: 12px 0 16px;
    font-size: 12px;
    margin: 0 15px;
}

#survytbl .dshbrd-dvv1-ul-li-a.dshbrd-dvv1-ul-li-a.active {
    border-color: rgb(255, 87, 69) !important;
}

.mt-32p {
    margin-top: 32% !important;
}

.bckbtnhdr {
    margin: 6px 12px 0 12px;
}

.bckbtnhdr:hover {
    opacity: 0.7;
}

#survytbl .dropdown-toggle.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr {
    color: #fff !important;
    background-color: #ff5745 !important;
}

#survytbl .dropdown-toggle.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr:hover, #survytbl .dropdown-toggle.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr:focus {
    opacity: 1 !important;
    background-color: rgb(242, 83, 65) !important;
}

#survytbl .dropdown-toggle.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr.cstmrdclrrr.dis {
    background-color: #e2e2e2 !important;
    color: #fff !important;
}

.tlbxdvvda {
    -webkit-box-shadow: 0 6px 24px 0 rgb(174 174 186 / 16%);
    box-shadow: 0 6px 24px 0 rgb(174 174 186 / 16%);
    -webkit-transition: -webkit-box-shadow 350ms ease-in-out;
    transition: -webkit-box-shadow 350ms ease-in-out;
    -o-transition: box-shadow 350ms ease-in-out;
    transition: box-shadow 350ms ease-in-out;
    transition: box-shadow 350ms ease-in-out, -webkit-box-shadow 350ms ease-in-out;
}

tbody.cstmtbdyy tr td:nth-child(1) {
    width: 2%;
}