.wd-15px {
	width: 15px;
}
.tblcstslctbtn {
    font-size: 12px;
    line-height: 1.14;
    text-transform: none;
    font-weight: 500;
    border: none;
    height: 29px;
    outline: 0;
    letter-spacing: normal;
    background-color: #e7eaef !important;
    color: #333e63 !important;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.tblcstslctbtn:hover {
	opacity: 0.7;
}

.tblcstslctbtnsrtng {
    border: none;
    background: transparent !important;
    color: #333e63;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid transparent;
}

.tblcstslctbtnsrtng:hover {
    border-color: #e7eaef;
    opacity: 0.7;
}

.distddv {
    color: #bbbbbb;
}

.tbl-drpbtnndw {
    background: transparent !important;
    color: inherit;
    border: none !important;
    box-shadow: none !important;
}

.tbl-drpbtnndw:hover, .tbl-drpbtnndw:focus {
    color: #333e63 !important;
}

.tblcstslctbtnsrtng:hover, .tblcstslctbtnsrtng:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: #333e63 !important;
    opacity: 0.7 !important;
    border-color: #e7eaef !important;
}

.tblcstslctbtnsrtng.show>.btn-primary.dropdown-toggle {
    border-color: #e7eaef !important;
}

.tblcstslctbtn:hover, .tblcstslctbtn:focus {
    opacity: 0.7;
    background-color: #e7eaef !important;
    box-shadow: none !important;
    outline: none !important;
    color: #333e63 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.tbl-dropdown-item {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.tblcstslctbtn[aria-expanded="true"]  .tblcstslctbtn-i {
    transform: rotate(180deg);
}

#stftabl .table>tbody>tr:first-child>td {
    border-top: 0 !important;
    padding-top: 20px !important;
}

#stftabl .table>tbody>tr {
    cursor: pointer;
}

#stftabl .table>tbody>tr:hover {
    background-color: #e7eaef2e;
}

.cstmlmodal2 .modal-dialog {
    max-width: 430px;
    margin: 1.75rem auto;
}

.infomdvmdl1-img {
    height: 90px;
    margin-bottom: 4%;
}

.infomdvmdl2 {
    margin: 15px 0 5px;
    font-weight: 600;
}

.infomdvmdl3 {
    margin: 0 0 6%;
    color: rgb(18 62 108 / 49%);
}

.infomdvmdl4 {
    padding: 0 25px;
}

.infomdvmdl4 p {
    font-size: 14px;
    margin: 0;
}

.adtchrbtn {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 0;
    box-shadow: none !important;
}

.adtchrbtn svg path {
    fill: #9CA2B4;
}

.adtchrbtn:hover svg path {
    fill: #333e63 !important;
    opacity: 1 !important;
}

.crsr-dis {
    cursor: not-allowed;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: inherit;
}

.tblusricnimg {
    border-radius: 50%;
    vertical-align: bottom;
    height: 25px;
    margin-right: 15px;
 }

.brdr-tp.brdr-tp {
    border-top: 1px solid #eeeff0 !important;
 }

 .dis.dis.dis.dis {
    pointer-events: none;
    background-color: transparent !important;
    border: 1px solid #e7eaef;
    color: #e9eaec !important;
 }